/* body {
  width: 1200px;
  margin: auto;
} */

/* .mainSection {
  width: 100px;
  display: grid;
  grid-column: auto auto;
} */

/* .secondCard {
  /* width: 900px;
  height: 200px; */


/* .cardTop {
  width: 150px;
  height: 50px;
 
} */
